services:
  postgres:
    container_name: postgres
    image: postgres:18
    restart: always
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/18/main
    networks:
      - share_network
    ports:
      - 5432:5432
  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8484:8080
    networks:
      - share_network
 
volumes:
  pgdata:

networks:
  share_network:
     external: true
